@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
    var usuarios = ViewBag.usuarios;
}

<div class="container mt-5">
    <div class="card mb-3">
        <div class="card-header" style="background-color: #800080; color: white;">
            GESTIONAR USUARIO
        </div>
        <div class="card-body" style="background-color: #d3d3d3; color: black;">
            <p class="font-weight-bold" style="text-align: left;">
                CREAR NUEVO USUARIO
            </p>
            <hr>
            <form asp-action="CrearUsuariossAdmin">
                <div class="form-group">
                    <label for="nombre_ticket" class="font-weight-bold">Ingrese el nombre del usuario: <span style="color: red;">*</span></label>
                    @Html.TextBox("nombre", "", new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label for="correo" class="font-weight-bold">Ingrese el correo del usuario: <span style="color: red;">*</span></label>
                    @Html.TextBox("correo", "", new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label for="rol" class="font-weight-bold">Seleccione el tipo de usuario a crear: <span style="color: red;">*</span></label>
                    @Html.DropDownList("id_rol", ViewData["listadoDeRoles"] as SelectList, "--Sin rol--", new { @class = "form-control" })
                </div>
                <hr>
                <!--Este espacio solo lo debe de llenar si se eligi[o el tipo cliente en roles-->
                <div>
                    <div class="form-group">
                        <p class="font-weight-bold" style="text-align: left;">
                            Si el tipo de usuario que eligió fue "Cliente", edite los siguientes datos...
                        </p>
                        <label for="usuario" class="font-weight-bold"> Nombre de la empresa: <span style="color: red;">*</span></label>
                        @Html.TextBox("nombre_empresa", "HELPHUB", new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="usuario" class="font-weight-bold">Nombre del contacto principal de la empresa: <span style="color: red;">*</span></label>
                        @Html.TextBox("contacto_principal", "Alanis Álvarez", new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="usuario" class="font-weight-bold">Teléfono : <span style="color: red;">*</span></label>
                        @Html.TextBox("telefono_contacto", "76296432", new { @class = "form-control" })
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label for="usuario" class="font-weight-bold">Ingrese el usuario con el que se autenticará (No mayor de 10 caracteres): <span style="color: red;">*</span></label>
                    @Html.TextBox("usuario", "", new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label for="contraseña" class="font-weight-bold">Ingrese la contraseña del usuario: <span style="color: red;">*</span></label>
                    @Html.TextBox("contrasenya", "", new { @class = "form-control" })
                </div>

                <div class="d-flex justify-content-end">
                    <!-- Utiliza un botón de tipo "button" para evitar envíos de formulario -->
                    <input type="submit" class="btn btn-primary btn-lg small" value="CREAR USUARIOS" />
                </div>

            </form>
            <!--Tabla con todos los usuarios-->
            <hr>
            <table class="table table-bordered">
                <thead>
                    <tr style="background-color: #800080; color: white;">
                        <th colspan="10" class="text-center">USUARIOS</th>
                    </tr>
                </thead>
                <thead>
                    <tr style="color: black;">
                        <th style="background-color: #c080c0;"></th>
                        <th style="background-color: #c080c0;">ID</th>
                        <th style="background-color: #c080c0;">NOMBRE</th>
                        <th style="background-color: #c080c0;">CORREO</th>
                        <th style="background-color: #c080c0;">ROL</th>
                        <th style="background-color: #c080c0;">EMPRESA</th>
                        <th style="background-color: #c080c0;">USUARIO</th>
                        <th style="background-color: #c080c0;">CONTRASEÑA</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var usuario in usuarios)
                    {
                        <tr>
                            <td style="background-color: #c080c0;"></td>
                            <td>@usuario.id_usuario</td>
                            <td>@usuario.nombre</td>
                            <td>@usuario.correo</td>
                            <td>@usuario.rol</td>
                            <td>@usuario.nombre_empresa</td>
                            <td>@usuario.usuario</td>
                            <td class="password">@usuario.contrasenya</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>