@{
    ViewBag.Title = "Trabajar Ticket Admin";
    var ticket = ViewData["Ticket"] as dynamic;

    string GetPrioridadName(int id_prioridad)
    {
        switch (id_prioridad)
        {
            case 1:
                return "Normal";
            case 2:
                return "Media";
            case 3:
                return "Alta";
            case 4:
                return "Crítico";
            default:
                return "Desconocido";
        }
    }

}

<div class="container mt-5">
    <div class="card mb-3">
        <div class="card-header" style="background-color: #800080; color: white;">
            TICKET # @ticket.id_ticket
        </div>
        <div class="card-body" style="background-color: #d3d3d3; color: black;">
            <hr>
            <p class="font-weight-bold">
                Información de contacto
            </p>
            <div class="form-group">
                <label for="fullName" class="font-weight-bold">Nombre completo:</label>
                <input type="text" class="form-control" id="fullName" value="@ticket.nombre" readonly>
            </div>

            <div class="form-group">
                <label for="phone" class="font-weight-bold">Número de teléfono:</label>
                <input type="text" class="form-control" id="phone" value="@ticket.telefono_usuario" readonly>
            </div>
            <div class="form-group">
                <label for="email" class="font-weight-bold">Email:</label>
                <input type="email" class="form-control" id="email" value="@ticket.correo_usuario" readonly>
            </div>
            <hr>
            <p class="font-weight-bold">
                Detalles de Ticket
            </p>
            <div class="form-group">
                <label for="ticketTitle" class="font-weight-bold">Título del ticket:</label>
                <input type="text" class="form-control" id="ticketTitle" value="@ticket.nombre_ticket" readonly>
            </div>
            <div class="form-group">
                <label for="estado" class="font-weight-bold">Estado:</label>
                <input type="text" class="form-control" id="estado" value="@ticket.Estado" readonly>
            </div>
            <div class="form-group">
                <label for="prioridad" class="font-weight-bold">Prioridad:</label>
                <input type="text" class="form-control" id="prioridad" value="@GetPrioridadName(ticket.id_prioridad)" readonly>
            </div>
            <div class="form-group">
                <label for="respuesta" class="font-weight-bold">Respuesta:</label>
                <textarea id="ticketDescription" name="ticketDescription" class="form-control">@Html.Raw(!string.IsNullOrEmpty(ticket.respuesta) ? ticket.respuesta : "Sin respuesta por el momento")</textarea>
            </div>
            <div class="form-group">
                <label for="estadoCombo" class="font-weight-bold">Cambiar Estado:</label>
                <select id="estadoCombo" class="form-control">
                    <option value="1">Abierto</option>
                    <option value="2">Cerrado</option>
                    <option value="3">Resuelto</option>
                </select>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary btn-lg small" onclick="guardarCambios()">Guardar Cambios</button>
        <button type="button" class="btn btn-secondary btn-lg small ml-2" onclick="history.back()">REGRESAR</button>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.tiny.cloud/1/rx66b37yvvqyq620z86ljevusuqr1tmvt0aa5gt9oaeyqi1f/tinymce/5/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '#ticketDescription',
            plugins: 'link',
            toolbar: 'undo redo | formatselect | bold italic underline | fontsizeselect | fontselect | link',
        });
        }
    </script>
}
