@{
    Layout = "_LayoutEmpleado";
    var ticketsEmpleado = ViewData["TicketsEmpleado"] as IEnumerable<dynamic>;
}

<!-- Estructura de la tabla -->
<div class="container mt-5">
    <table class="table table-bordered">
        <!-- Primera fila -->

        <thead>
            <tr style="background-color: #562888; color: white;">
                <th colspan="4" class="text-center">HISTORIAL TICKETS</th>

                <th colspan="4" class="text-lg-end justify-content-lg-end " style="padding-left: 1rem;">
                    <span>BUSCAR POR ESTADO</span>
                    <select id="estadoFilter" class="form-control form-control-sm" style="display: inline-block; width: auto; background-color: #c080c0;">
                        @Html.Raw(ViewData["SelectOptions"])
                    </select>
                </th>
            </tr>
        </thead>

        <!-- Segunda fila -->
        <thead>
            <tr style="color: black;">
                <th style="background-color: #DF8AEE;"></th>
                <th style="background-color: #DF8AEE;">ID</th>
                <th style="background-color: #DF8AEE;">ÚLTIMA ACTUALIZACIÓN</th>
                <th style="background-color: #DF8AEE;">USUARIO</th>
                <th style="background-color: #DF8AEE;">ASUNTO</th>
                <th style="background-color: #DF8AEE;">ESTADO</th>
                <th style="background-color: #DF8AEE;">ASIGNADO A</th>
                <th style="background-color: #DF8AEE;"></th>
            </tr>
        </thead>
        <!-- Filas siguientes generadas con datos de la base de datos de los tickets del empleado -->
        <tbody>
            @foreach (var ticket in ticketsEmpleado)
            {
                <tr>
                    <td style="background-color: #DF8AEE;"></td>
                    <td>@ticket.id_ticket</td>
                    <td>@ticket.fecha</td>
                    <td>@ticket.Usuario</td>
                    <td>@ticket.nombre_ticket</td>
                    <td>@ticket.Estado</td>
                    <td>@ticket.AsignadoA</td>
                    <td style="justify-content">

                        <button class="button-custom" onclick="location.href='@Url.Action("TicketTrabajado", "Empleado", new { id = ticket.id_ticket })'">Trabajar</button>
                    </td>


                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        document.getElementById('estadoFilter').addEventListener('change', function () {
            var selectedEstado = this.value;
            var url = '@Url.Action("TicketsEmpleado", "Empleado")?estado=' + selectedEstado;
            window.location.href = url;
        });
    </script>
}

