@{
    Layout = "_LayoutEmpleado";
    ViewBag.Title = "Trabajar Ticket Empleado";
    var ticket = Model;
}

<div class="container mt-5">
    <div class="card mb-3">
        <div class="card-header" style="background-color: #562888; color: white;">
            TICKET # @ticket.id_ticket
        </div>
        <div class="card-body" style="background-color: #d3d3d3; color: black;">

            <h3>Datos del ticket</h3>
            <hr class="border-5 border-dark" style="border-block-color:black">


            <div class="Con">
                @* Apartado Detalles Ticket *@
                <div class="box">
                    <p class=" fw-bold ">
                        Detalles de Ticket
                    </p>
                    <div class="form-group">
                        <label for="ticketTitle" class=" fw-bold">Título del ticket:</label>
                        <input type="text" class="form-control" id="ticketTitle" value="@ticket.nombre_ticket" readonly>
                    </div>


                    <p class="fw-bold">
                        Descripción del Ticket
                    </p>
                    <div class="form-group p-2" style="background-color: #e9edee; border-radius: 5px">
                        @Html.Raw(ticket.descripcion)
                    </div>

                    @*Estado*@
                    <div class="form-group">
                        <label for="estado" class="fw-bold">Estado:</label>
                        <input type="text" class="form-control" id="estado" value="@ViewData["Estado"]" readonly>
                    </div>
                    
                    <div class="form-group">
                        @if (!string.IsNullOrEmpty(ticket.url_archivo))
                        {
                            <a href="@Url.Action("DescargarArchivo", "Empleado", new { filePath = ticket.url_archivo })" class="btn btn-info p-2 m-2" style=" background-color: #562888; color: white " download>Descargar archivo</a>
                        }
                        else
                        {
                            <p>No hay archivo adjunto.</p>
                        }
                    </div>


                    @*Prioridad*@
                    <div class="form-group">
                        <label for="prioridad" class="fw-bold">Prioridad:</label>
                        <input type="text" class="form-control" id="prioridad" value="@ticket.id_prioridad" readonly>
                    </div>

                </div>
                @* Fin Apartado Detalles Ticket *@


                @* Apartado info Contacto*@
                <div class="box">
                    <p class="fw-bold">
                        Información de contacto
                    </p>
                    <div class="form-group">
                        <label for="fullName" class="fw-bold">Nombre completo:</label>
                        <input type="text" class="form-control" id="fullName" value="@ticket.nombre_usuario" readonly>
                    </div>

                    <div class="form-group">
                        <label for="phone" class="fw-bold">Número de teléfono:</label>
                        <input type="text" class="form-control" id="phone" value="@ticket.telefono_usuario" readonly>
                    </div>

                </div>
                @* fin Apartado info Contacto *@
            </div>

            @* Respuesta al Ticket *@

            <div class="form-group">
                <label for="respuesta" class="fw-bold">Respuesta:</label>
                <textarea id="respuesta" name="respuesta" class="form-control">@Html.Raw(!string.IsNullOrEmpty(ticket.respuesta) ? ticket.respuesta : "Sin respuesta por el momento")</textarea>
            </div>

            @* Cambiar Estado *@
            <div class="left-container">
                <div class="p-5 fw-bold">
                    <label for="estado" class="fw-bold">Cambiar Estado:</label><br />
                </div>

                <div class="p-2">
                    <input type="radio" id="abierto" name="id_estado" value="1" @(ticket.id_estado == 1 ? "checked" : "") onclick="uncheckOthers(this)">
                    <label for="abierto">Abierto</label><br />

                    <input type="radio" id="enEspera" name="id_estado" value="2" @(ticket.id_estado == 2 ? "checked" : "") onclick="uncheckOthers(this)">
                    <label for="enEspera">En espera de información del cliente</label><br />

                    <input type="radio" id="cerrado" name="id_estado" value="3" @(ticket.id_estado == 3 ? "checked" : "") onclick="uncheckOthers(this)">
                    <label for="cerrado">Cerrado</label><br />

                    <input type="radio" id="resuelto" name="id_estado" value="4" @(ticket.id_estado == 4 ? "checked" : "") onclick="uncheckOthers(this)">
                    <label for="resuelto">Resuelto</label>
                </div>

            </div>




        </div>
    </div>
    @* Fin Cambiar Estado *@
    <div class="d-flex justify-content-lg-end">

        <button type="button" class="btn btn-primary btn-lg small p-2 m-2" style="background-color: #562888;  padding-bottom" onclick="guardarCambios()">GUARDAR RESPUESTA</button>

        <button type="button" class="btn btn-secondary btn-lg small ml-2 p-2 m-2" style="background-color: #562888; padding-bottom" onclick="history.back()">REGRESAR</button>

    </div>

</div>



@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/rx66b37yvvqyq620z86ljevusuqr1tmvt0aa5gt9oaeyqi1f/tinymce/5/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '#respuesta',
            plugins: 'image imagetools media link codesample table',
            toolbar: 'undo redo | formatselect | bold italic underline | fontsizeselect | fontselect',
        });

        function guardarCambios() {
            var respuesta = tinymce.get('respuesta').getContent();
            var id_ticket = @ticket.id_ticket;
            var id_estado = $('input[name=id_estado]:checked').val(); // Obtener el valor del radiobutton seleccionado

            $.ajax({
                url: '/Empleado/GuardarCambios',
                method: 'POST',
                data: { id_ticket: id_ticket, respuesta: respuesta, id_estado: id_estado },
                success: function (response) {
                    console.log(response);
                    window.location.href = '/Empleado/TicketEditado';
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

    </script>
}



