@{
    ViewBag.Title = "Crear Ticket";
}

<div class="container mt-5">
    <div class="card mb-3">
        <div class="card-header" style="background-color: #800080; color: white;">
            CREAR NUEVO TICKET
        </div>
        <div class="card-body" style="background-color: #d3d3d3; color: black;">
            <p class="font-weight-bold" style="text-align: left;">
                Por favor rellenar el formulario para abrir un nuevo ticket.
            </p>
            <hr>
            <p class="font-weight-bold">
                Información de contacto
            </p>
            <form asp-action="CrearTickets">
                <div class="form-group">
                    <label for="email" class="font-weight-bold">Email usuario: <span style="color: red;">*</span></label>
                    @* Tengo que hacer un listado que tome los correos para agregarlos en esta parte, es el correo del usuario quien hace el ticket *@
                    @Html.DropDownList("id_usuario", ViewData["listadoDeUsuarios"] as SelectList, "--Sin usuario--", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="nombre_usuario" class="font-weight-bold">Nombre del usuario: <span style="color: red;">*</span></label>
                    @Html.TextBox("nombre_usuario", "", new { @class = "form-control", placeholder = "Ingrese su nombre y apellido" })
                </div>
                <div class="form-group">
                    <label for="telefono_usuario" class="font-weight-bold">Número de teléfono: <span style="color: red;">*</span></label>
                    @Html.TextBox("telefono_usuario", "", new { @class = "form-control", placeholder = "Ingrese su numero de contacto" })
                </div>
                <div class="form-group">
                    <label for="categoria" class="font-weight-bold">Categoría de su problematica: <span style="color: red;">*</span></label>
                    @Html.DropDownList("id_categoria", ViewData["listadoDeCategorias"] as SelectList, "--Sin categoría--", new { @class = "form-control" })
                </div>
                <hr>
                <div>
                    <p class="font-weight-bold">
                        Detalles de Ticket
                    </p>
                    <p>
                        Por favor describa su problemática
                    </p>
                    <p class="font-weight-bold">
                        Titulo del ticket
                    </p>
                    @Html.TextBox("nombre_ticket", "", new { @class = "form-control", placeholder = "Ingrese el título del ticket" })

                </div>
                <hr>
                <!-- Text Editor Placeholder -->
                <div class="form-group">
                    <label for="ticketDescription" class="font-weight-bold">Descripción del ticket</label>
                    @Html.TextArea("descripcion", "", new { id = "ticketDescription", @class = "form-control", rows = "5", @placeHolder = "Ingrese la descripción del ticket" })
                </div>
                <hr>
                <div class="form-group row mb-4">
                    <div class="col-sm-2"></div>
                    <div class="d-flex justify-content-end">
                        <input type="submit" class="btn btn-primary btn-lg small" value="CREAR TICKET" />
                    </div>
                </div>
                <div>
                    <!--Elementos estaticos de para la hora de crear tickets y que luego se modificaran al trabajarlos-->
                    @Html.TextBox("url_archivo", " ", new { @class = "form-control", type = "hidden" })
                    @Html.TextBox("respuesta", " ", new { @class = "form-control", type = "hidden" })
                    @Html.TextBox("id_prioridad", "1", new { @class = "form-control", type = "hidden" })
                    @Html.TextBox("id_estado", "1", new { @class = "form-control", type = "hidden" })
                </div>
                
            </form>
             
        </div>
    </div>

</div>

<!-- Scripts específicos de la vista CrearTicket.cshtml -->
@section Scripts {
    <script src="https://cdn.tiny.cloud/1/rx66b37yvvqyq620z86ljevusuqr1tmvt0aa5gt9oaeyqi1f/tinymce/5/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '#ticketDescription',
            plugins: 'image imagetools media link codesample table',
            toolbar: 'undo redo | formatselect | bold italic underline | fontsizeselect | fontselect | link | table | image media',
            images_upload_url: '/Cliente/TicketTrabajado', // URL del método de carga de archivos en tu controlador
            images_upload_base_path: '/uploads', // Ruta base para las imágenes cargadas
            images_upload_credentials: true,
            automatic_uploads: true,
            file_picker_types: 'image media',
            file_picker_callback: function (callback, value, meta) {
                if (meta.filetype === 'image') {
                    // Open a dialog to choose an image from the web or local storage
                    // For example, you can use a file input field to let the user choose a file
                    document.getElementById('file-input').click();
                    document.getElementById('file-input').onchange = function () {
                        var file = this.files[0];
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            // Assume "url" is the URL of the uploaded image
                            var url = URL.createObjectURL(file);
                            callback(url, { title: file.name });
                        };
                        reader.readAsDataURL(file);
                    };
                } else if (meta.filetype === 'media') {
                    // Open a dialog to choose a media file from the web or local storage
                    // Implement similar logic as above for media files
                    console.log('Select media file');
                }
            }
        });
    </script>
}

