@{
    var historialTickets = ViewData["HistorialTickets"] as IEnumerable<dynamic>;
    var selectOptions = ViewData["SelectOptions"] as string;
    var selectedEstado = ViewData["SelectedEstado"] as string;
}

<div class="container mt-5">
    <table class="table table-bordered">
        <thead>
            <tr style="background-color: #800080; color: white;">
                <th colspan="8" class="text-center">HISTORIAL TICKETS</th>
            </tr>
        </thead>
        <thead>
            <tr style="color: black;">
                <th style="background-color: #c080c0;"></th>
                <th style="background-color: #c080c0;">ID</th>
                <th style="background-color: #c080c0;">ÚLTIMA ACTUALIZACIÓN</th>
                <th style="background-color: #c080c0;">USUARIO</th>
                <th style="background-color: #c080c0;">ASUNTO</th>
                <th style="background-color: #c080c0;">ESTADO</th>
                <th style="background-color: #c080c0;">ASIGNADO A</th>
                <th style="background-color: #c080c0;"></th>
            </tr>
        </thead>
        <tbody id="ticketsBody">
            @foreach (var ticket in historialTickets)
            {
                <tr>
                    <td style="background-color: #c080c0;"></td>
                    <td>@ticket.id_ticket</td>
                    <td>@ticket.fecha</td>
                    <td>@ticket.Usuario</td>
                    <td>@ticket.nombre_ticket</td>
                    <td>@ticket.Estado</td>
                    <td>@ticket.AsignadoA</td>
                    <td><a href="@Url.Action("TicketTrabajado", "Cliente", new { id = ticket.id_ticket })">Detalles</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        document.getElementById('estadoFilter').addEventListener('change', function () {
            var selectedEstado = this.value;
            var url = '@Url.Action("HistorialDeTickets", "Cliente")?estado=' + selectedEstado;
            window.location.href = url;
        });
    </script>
}
