@{
    Layout = "_LayoutCliente";
    var historialTickets = ViewData["HistorialTickets"] as IEnumerable<dynamic>;
    var selectOptions = ViewData["SelectOptions"] as string;
    var selectedEstado = ViewData["SelectedEstado"] as string;
}

<div class="container mt-5">
    <table class="table table-bordered">
        <thead>
            <tr style="background-color: #562888; color: white;">
                <th colspan="8" class="text-center">HISTORIAL TICKETS</th>
            </tr>
        </thead>
        <thead>
            <tr style="color: black;">
                <th style="background-color: #c5a1df;"></th>
                <th style="background-color: #c5a1df;">ID</th>
                <th style="background-color: #c5a1df;">ÚLTIMA ACTUALIZACIÓN</th>
                <th style="background-color: #c5a1df;">USUARIO</th>
                <th style="background-color: #c5a1df;">ASUNTO</th>
                <th style="background-color: #c5a1df;">ESTADO</th>
                <th style="background-color: #c5a1df;">ASIGNADO A</th>
                <th style="background-color: #c5a1df;"></th>
            </tr>
        </thead>
        <tbody id="ticketsBody">
            @foreach (var ticket in historialTickets)
            {
                <tr>
                    <td style="background-color: #c5a1df;"></td>
                    <td>@ticket.id_ticket</td>
                    <td>@ticket.fecha</td>
                    <td>@ticket.Usuario</td>
                    <td>@ticket.nombre_ticket</td>
                    <td>@ticket.Estado</td>
                    <td>@ticket.AsignadoA</td>
                    <td>
                        <button class="button-custom" onclick="location.href='@Url.Action("TicketTrabajado", "Cliente", new { id = ticket.id_ticket })'">Detalles</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        document.getElementById('estadoFilter').addEventListener('change', function () {
            var selectedEstado = this.value;
            var url = '@Url.Action("HistorialDeTickets", "Cliente")?estado=' + selectedEstado;
            window.location.href = url;
        });
    </script>
}
