@{
    ViewBag.Title = "Ticket Trabajado";
    var ticket = ViewData["Ticket"] as dynamic;
}

<div class="container mt-5">
    <div class="card mb-3">
        <div class="card-header" style="background-color: #800080; color: white;">
            TICKET TRABAJADO # @ticket.id_ticket
        </div>
        <div class="card-body" style="background-color: #d3d3d3; color: black;">
            <p class="font-weight-bold">
                Información de contacto
            </p>
            <div class="form-group">
                <label for="fullName" class="font-weight-bold">Nombre completo:</label>
                <input type="text" class="form-control" id="fullName" value="@ticket.nombre" readonly>
            </div>

            <div class="form-group">
                <label for="phone" class="font-weight-bold">Número de teléfono:</label>
                <input type="text" class="form-control" id="phone" value="@ticket.telefono_usuario" readonly>
            </div>
            <div class="form-group">
                <label for="email" class="font-weight-bold">Email:</label>
                <input type="email" class="form-control" id="email" value="@ticket.correo_usuario" readonly>
            </div>
            <hr>
            <p class="font-weight-bold">
                Detalles de Ticket
            </p>
            <div class="form-group">
                <label for="ticketTitle" class="font-weight-bold">Título del ticket:</label>
                <input type="text" class="form-control" id="ticketTitle" value="@ticket.nombre_ticket" readonly>
            </div>
            <p class="font-weight-bold">
                Descripción del Ticket
            </p>
            <div class="form-group">
                <hr>
                @Html.Raw(ticket.descripcion)
            </div>
            <hr>
            <p class="font-weight-bold">
                Respuesta del Ticket
            </p>
            <div class="form-group">
                <hr>
                @Html.Raw(string.IsNullOrEmpty(ticket.respuesta) ? "Aun sin respuesta" : ticket.respuesta)
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary btn-lg small" onclick="history.back()">REGRESAR</button>
    </div>
</div>
