@{
    ViewBag.Title = "Ticket Trabajado";
    Layout = "_LayoutCliente";
    var ticket = ViewData["Ticket"] as dynamic;
}

<div class="container mt-5">
    <div class="card mb-3">
        <div class="card-header" style="background-color: #562888; color: white;">
            TICKET TRABAJADO # @ticket.id_ticket
        </div>


        <div class="card-body" style="background-color: #d3d3d3; color: black;">

            <h3>Datos del ticket</h3>
            <hr class="border-5 border-dark" style="border-block-color:black">

            @* Apartado info Contacto*@

            <p class="fw-bold">
                Información de contacto
            </p>

            <div class="contact-info">



                <div>
                    <div class="form-group">
                        <label for="fullName" class="fw-bold">Nombre completo:</label>
                        <input type="text" class="form-control" id="fullName" value="@ticket.nombre" readonly>
                    </div>
                </div>

                <div>
                    <div class="form-group">
                        <label for="phone" class="fw-bold">Número de teléfono:</label>
                        <input type="text" class="form-control" id="phone" value="@ticket.telefono_usuario" readonly>
                    </div>
                </div>


                <div>
                    <div class="form-group">
                        <label for="email" class="fw-bold">Email:</label>
                        <input type="email" class="form-control" id="email" value="@ticket.correo_usuario" readonly>
                    </div>
                </div>

            </div>
            @* fin Apartado info Contacto *@

            <hr>

            @* Apartado Detalles Ticket *@
            <p class="fw-bold">
                Detalles de Ticket
            </p>
            <div class="form-group">
                <label for="ticketTitle" class="fw-bold">Título del ticket:</label>
                <input type="text" class="form-control" id="ticketTitle" value="@ticket.nombre_ticket" readonly>
            </div>
            <p class="fw-bold">
                Descripción del Ticket
            </p>

            <div class="form-group p-2" style="background-color: #e9edee; border-radius: 5px">

                @Html.Raw(ticket.descripcion)
            </div>
            <hr>


            @* Mostrar y descargar archivo adjunto *@
            <div class="form-group">
                @if (!string.IsNullOrEmpty(ticket.url_archivo))
                {
                    <a href="@Url.Action("DescargarArchivo", "Cliente", new { filePath = ticket.url_archivo })" class="btn btn-info p-2 m-2" style=" background-color: #562888; color: white " download>Descargar archivo</a>
                }
                else
                {
                    <p>No hay archivo adjunto.</p>
                }
            </div>

            @*Fin Apartado Detalles Ticket *@


            @* Respuesta al Ticket *@
            <p class="fw-bold">
                Respuesta del Ticket:
            </p>
            <div class="form-group p-2" style="background-color: #e9edee; border-radius: 5px">

                @Html.Raw(string.IsNullOrEmpty(ticket.respuesta) ? "Aun sin respuesta" : ticket.respuesta)
            </div>


        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary btn-lg small p-2 m-2" style="background-color: #562888;  padding-bottom" onclick="history.back()">REGRESAR</button>
    </div>
</div>
